/* 通用全体css */
*{
 margin: 0;
 padding: 0;
}

@font-face {
  font-family: bigjkjp;
  src: url('/font/bigjkjp.ttf');
}
@font-face {
  font-family: jkjp;
  src: url('/font/jkjp.ttf');
}

/* @font-face {
  font-family: wdfs;
  src: url('/font/wdfs.TTF');
} */

body{
  background-color: #ececec;
  text-align: center;
  height: auto;
  position:relative;

}

header{
  width: auto;
  height: auto;
  text-align: center;
}

.door img{
  width: 100px;
}
.indoor{
  cursor:pointer;
}

h1{
  font-family: bigjkjp;
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-top: 10px;

}

.container{
  font-family: Hiragino Sans GB;
  margin-top: 20px;
}

/*~~~~~~导航样式~~~~~~~~~~~~~~~~~*/
nav ul li a{
    text-decoration: none;
    color: #1D1E20;
    border: 2px solid rgba(100,100,100,0);
    padding: 5px;
}

nav #menu{
    display: block;
    text-align: center;
    margin-bottom: 20px;
    padding: 0;
    transform: scale(1, 0.9);
    letter-spacing: 1px;
    font-family: sans-serif;

}

nav ul li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: #004986;
}
.aline {
    background-color: #413C3B;

    height:1px;

}

/*~~~~~~导航动效~~~~~~~~~~~~~~~~~*/
nav ul li a:hover{
  border: 2px solid black;
  transition: 0.5s;
}

/*~~~~~~主页文章列表~~~~~~~~~~~~~~~~~*/
.homepage_post_list{
  font-size: 12px;
  overflow:scroll;
  height:200px;
  width:400px;
  border: solid 1px black;
  margin: 0 auto;
  font-family: wdfs;
  padding: 5px;
}
/*~~~~~~主页文章列表间距~~~~~~~~~~~~~~~~~*/
.homepage_post_list div{
  margin-top: 25px;
}
::-webkit-scrollbar {
		  width: 6px;
	} /* 这是针对缺省样式 (必须的) */
当CS
::-webkit-scrollbar-track {
		  background-color: #ECECEC;
	} /* 滚动条的滑轨背景颜色 */

	::-webkit-scrollbar-thumb {
		  background-color: rgb(34, 34, 34);
	} /* 滑块颜色 */

	::-webkit-scrollbar-button {
		  background-color: transparent;
	} /* 滑轨两头的监听按钮颜色 */

	::-webkit-scrollbar-corner {
		  background-color: rgb(34, 34, 34);
	} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

.homepage_post_title{
  color: black;
  letter-spacing: 1px;
  line-height: 20px;
}

/*~~~~~~页脚样式~~~~~~~~~~~~~~~~~*/
.footerbox{
  float: left;
  text-align:center;
  height:25px;
  left:0px;
  bottom:0px;
  width:100%;
  position:absolute;
}
.footerejs{
  font-family: "Courier New";
  font-size: 6px;
  font-weight: lighter;
  letter-spacing: 1px;
  /* height:20px;
  left:0px;
  bottom:0px;
  width:100%; */
  /* text-align:center; */
  /* position:absolute; */

}

#busuanzi_container_site_pv{
  font-family: "Courier New";
  font-size: 7px;
  font-weight: lighter;
  letter-spacing: 1px;

  /* text-align:center; */
  /* position:absolute; */
  color: #BBBBBD;

}

/*~~~~~~“分类“页面中文章列表的样式~~~~~~*/

.scroll-article{
  overflow:scroll;
  height:200px;
  width:400px;
  border: solid 1px black;
  margin: 0 auto;

}
.scroll-article div{
  margin-top: 25px;
}

/*~~~~~~分类页样式~~~~~~~~~~~~~~~~*/
.all_tags{
  font-size: 12px;
}
.scroll-article{
  font-size: 12px;

}

/*~~~~~~每篇文章的样式~~~~~~~~~~~~~~~~*/
.post_info{
  font-size: 10px;
  color: black;
}
.article-tag{
  color: black;
}
.article_content{
  overflow:scroll;
  overflow-x: hidden;
  height:330px;
  width:400px;
  border: solid 1px black;
  margin: 0 auto;
  font-family: wdfs;
  font-size: 12px;
  color: black;
  padding: 10px;
  letter-spacing: 0.8px;
  line-height: 25px;
}
.post_auther_date_tag{
  display: inline-block;
}
.article_content p{
  text-align: justify;
}
.article_content img{
  display: block;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;

}


/*~~~~~~如果要给每篇文章加评论的话，这是评论区样式~~~~~~~~~~~~~~~~*/
/* .comment{
  width: 400px;
  margin:0 auto;
  border: solid 1px black;
  margin-top: 20px;
  overflow:scroll;
  overflow-x: hidden;
  height:300px;
  width:400px;
  color: black;
} */

/* 手机响应布局 */
@media  screen and (max-width: 980px) {
body{
  width: auto;
  background-color: #DDDDDD;
  -webkit-overflow-scrolling: auto;
}
h1{
  margin-top: 5vw;
  font-size: 5vw;
}
.door img{
  width: 30vw;
}

nav #menu{
  font-size: 4vw;
  padding: 2vw;

}
nav ul li a{
  margin:0 3vw;
  padding: 2vw 2vw;
  letter-spacing: 1vw;
}
.homepage_post_list, .article_content, .scroll-article{
  width: 90vw;
  height: 70vw;
  font-size: 3.5vw;
  overflow-y: scroll;
  overflow-y: auto;
  font-family: wdfs;
  letter-spacing: 0.8px;
  line-height: 8vw;
  color:#37393D;
  padding: 20px;
}

.post_info, .all_tags{
  font-size: 3vw;
}
.footerbox{
  position:fixed;
  margin-bottom: 5vw;
}
.footerejs, #busuanzi_container_site_pv{
  font-size: 2vw;
}

}
