/* ==================颜色准备 ================== */
/*背景：#F0F0F0
文字，边框深灰：#595959*/
::selection {
background: #595959;
color: #ffffff;
}

::-moz-selection {
background: #595959;
color: #ffffff;
}

::selection {
background: #595959;
color: #ffffff;
}

::-moz-selection {
background: #595959;
color: #ffffff;
}

/* ==================LAYOUT ================== */

#mobileLayout{
    display: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    height: 100%;
}

body {
    height: 100%;
    background-color: #F0F0F0;
}

.column {
  float: left;
  height: 100%;
}
 
/* 左右侧栏的宽度 */
#left,#right {
  width: 10%;
  position: relative;
}

/* 中间列宽度 */
#medium {
  width: 80%;
  position: relative;
}


#nav{
  height: 15%;
  bottom: 0;
  position: relative;

}

#container{
  margin-top: 2%;
  margin-bottom: 30%; 
  height: 70%;
  border: 1px #595959 solid;
  overflow:scroll;
  overflow-x: hidden;
}




/*滚动条*/
::-webkit-scrollbar {
      width: 10px;
      height:10px;
  } /* 这是针对缺省样式 (必须的) */
::-webkit-scrollbar-track {
      background-color: #ECECEC;
  } /* 滚动条的滑轨背景颜色 */

  ::-webkit-scrollbar-thumb {
      background-color: rgb(34, 34, 34);
  } /* 滑块颜色 */

  ::-webkit-scrollbar-button {
      background-color: transparent;
  } /* 滑轨两头的监听按钮颜色 */

  ::-webkit-scrollbar-corner {
      background-color: rgb(34, 34, 34);
  } /* 横向滚动条和纵向滚动条相交处尖角的颜色 */


@media only screen and (max-width: 980px){
    ::-webkit-overflow-scrolling: touch;
}

/*MENU*/
#menu {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;

}

#menu li {
    float: left;
    padding-left: 20px;
    list-style: none;
    padding-top: 80px;

}
#menu li a{
    color: #595959;
    font-size: 0.6em;
    font-family: SimHei;
    letter-spacing: 5px;
    text-decoration: none;
    padding: 2px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}


.clickstyle{
    background-color: black;
}



#menu li a::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(299, 0%, 45%, 1);
    opacity: 0.1;
    transform: scaleX(0);
    transform-origin: 100% 100%;
    transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
    will-change: transform;
}

#menu li a:hover::before  {
    transform-origin: 0 0;
    transform: scaleX(1);
}



/*GITHUB,MAIL,RSS*/
#links{
    position: absolute;
    bottom: 12%;

}

#links ul li{
  list-style: none;
}
#links ul li a{
  color: #595959;
  font-size: 1.2em;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 15px;

}

/* 灯的开关 */
/*LIGHT*/
line{
    stroke: #595959;
}
ellipse{
    fill: #595959;
}

#light svg{
     width:8em; 
     height:15em;
}
#light{
    height: 25%;
    width: 60%;
}

#light:hover{
    animation: bounce 2s infinite;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(90, 90, 90, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;


    /* 定位 */
    position: absolute;
    top: 90%;
    left: 50%; 
    z-index: 1;

    /* 淡入 */
    opacity: 0;
    transition: opacity 1s;
}


#light:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


@media only screen and (max-width: 980px){

 }


/*FOOTER*/

.copyright p{
   position:absolute;
   width: auto;
   left:12%;
   top:78%;
   font-size: 6px;
  font-family: SimHei;
  color: #595959;
  letter-spacing: 4px;
   transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            /* Internet Explorer 9*/
            -moz-transform: rotate(90deg);
            /* Firefox */
            -webkit-transform: rotate(90deg);
            /* Safari 和 Chrome */
            -o-transform: rotate(90deg);
            /* Opera */
}


 @media only screen and (max-width: 980px){
    .copyright p{
        left: 30%;
        top: 75%;
        letter-spacing: 1px;
    }
 }

/* ==================LAYOUT END================== */
/* ==================HOME================== */

.home_things{
    display: flex;
    width: 100%;
    height: 100%;
}
.computer{
    width: 40%;
    height: 80%;
}
.computer img{
    width: 24em; 
    display:block;
}
.words{
    width: 30%;
    height: 80%;
    font-family: courier New;
     letter-spacing: 2px; 
     font-size: 12px; 
     padding-top: 25em;
}

.person{
    width: 30%;
    height: 80%;
}
.person img{
    width: 22em; display:block; padding-top: 3em;
}
 @media only screen and (max-width: 980px){
    .computer img{
        width: 16em;
    }
    .person img{
        width: 15em;
        padding-top: 0;
    }
    .words{
        padding-top: 15em;
        font-size: 9px;

    }
 }

/* ==================HOME END================== */
/* ================LANDSCAPE警告页面==================== */

    #warning-message{ 
      text-align: center;
      font-size: 3vw;
      margin: 7vw;

      display: none; 
    }
    #eng, #jap{
        font-size: 2vw;
    }
    #chi{
        padding-top: 10vw;
        font-size: 5vw;
    }

   .Wgifgif{
        width: 100%;

        padding-bottom: 10vw;
        padding-top: 15vh;
    }
    .Wgifgif img{
        border: 1px black solid;
        margin: 0 auto;
        width: 10em; 
        box-shadow: 
        black 0px 0px 0px 2px inset,
         rgb(255, 255, 255) -10px -10px 0px -1px,
          black -10px -10px,
           rgb(255, 255, 255) -20px -20px 0px -1px,
            black -20px -20px,
             rgb(255, 255, 255) -30px -30px 0px -1px,
              black -30px -30px,
               rgb(255, 255, 255) -40px -40px 0px -1px,
                black -40px -40px;
    }
    

    @media only screen and (orientation:portrait){
        .column { 
          display:none; 
        }

        #warning-message { 
          display:block; 

    }
}
    

    @media only screen and (orientation:landscape){
        #warning-message{
          display:none; 
      }

    }


/* ==================警告END================== */
/* ================黑暗模式==================== */
/*背景改色*/
body.dark,
body.dark .card,
body.dark html,
::-webkit-scrollbar-track
{
    background-color: #424c50;
}


::-webkit-scrollbar-thumb,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner{
    background-color:#F0F0F0;
}

/*文字改色*/
body.dark .column,
body.dark .column #links ul li a,
body.dark .column #menu li a,
body.dark .column .copyright p,
body.dark #warning-message p,
body.dark .card a,
body.dark #page-nav span,
body.dark #page-nav a

{
    color: #F0F0F0;
}


body.dark .card #post_tag,
body.dark .card #post_tag a
{
    color: #424c50;
}

/*边框改色*/
body.dark .column #container,
body.dark .card,
body.dark #page-nav a
{
    border: 1px #F0F0F0 solid;
}

/*图片改色*/
body.dark .home_things img{
    filter: invert(100%);
}

/*其他改色*/

body.dark line{
    stroke: #F0F0F0;
}
body.dark ellipse{
    fill: #F0F0F0;

}


