.column{
	display: none;
}
#mobileLayout{
	display: block;
}


* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}
.fullscreenmenu {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}
/*menuコンテンツ*/
.fullscreenmenu .Mmenu {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	visibility: hidden;
	overflow: hidden;
	width: 100%;
	height: 100%;
	pointer-events: none;
	outline: 1px solid transparent;

	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	align-items: center;
	justify-content: center;
}
.fullscreenmenu .Mmenu > div {
	display: flex;
	overflow: hidden;
	width: 200vw;
	height: 200vw;
	transition: all 0.4s ease;
	-webkit-transform: scale(0);
	        transform: scale(0);
	text-align: center;
	color: #fefefe;
	border-radius: 50%;
	background: rgba(180,180,180 ,0.8);

	flex: none;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	align-items: center;
	justify-content: center;
}
.fullscreenmenu .Mmenu > div > ul {
	display: block;
	max-height: 100vh;
	margin: 0;
	padding: 0 1em;
	list-style: none;
	transition: opacity 0.4s ease;
	opacity: 0;
}
.fullscreenmenu .Mmenu > div > ul > li {
	font-size: 4em;
	display: block;
	margin: 1em;
	padding: 0;
}
.fullscreenmenu .Mmenu > div > ul > li > a {
	position: relative;
	display: inline;
	cursor: pointer;
	transition: color 0.4s ease;
}
.fullscreenmenu .Mmenu > div > ul > li > a:hover {
	color: #e5e5e5;
}
.fullscreenmenu .Mmenu > div > ul > li > a:hover:after {
	width: 100%;
}
.fullscreenmenu .Mmenu > div > ul > li > a:after {
	position: absolute;
	z-index: 1;
	bottom: -0.15em;
	left: 0;
	width: 0;
	height: 2px;
	content: '';
	transition: width 0.4s ease;
	background: #e5e5e5;
}
/*クリックしたらメニューが開閉の動作*/
.fullscreenmenu .toggle {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 8em;
	height: 8em;
	cursor: pointer;
	opacity: 0;

}
.fullscreenmenu .toggle:checked + .hamburger > span {
	-webkit-transform: rotate(135deg);
	        transform: rotate(135deg);
}
.fullscreenmenu .toggle:checked + .hamburger > span:before,
.fullscreenmenu .toggle:checked + .hamburger > span:after {
	top: 0;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}
.fullscreenmenu .toggle:checked + .hamburger > span:after {
	opacity: 0;
}
.fullscreenmenu .toggle:checked ~ .Mmenu {
	visibility: visible;
	pointer-events: auto;
}
.fullscreenmenu .toggle:checked ~ .Mmenu > div {
	transition-duration: 0.75s;
	-webkit-transform: scale(1);
	        transform: scale(1);
}
.fullscreenmenu .toggle:checked ~ .Mmenu > div > ul {
	opacity: 1;
}
.fullscreenmenu .toggle:checked ~ .Mmenu > div > ul li:nth-of-type(1) {
	transition-delay: 0.4s;
}
.fullscreenmenu .toggle:checked ~ .Mmenu > div > ul li:nth-of-type(2) {
	transition-delay: 0.6s;
}
.fullscreenmenu .toggle:checked ~ .Mmenu > div > ul li:nth-of-type(3) {
	transition-delay: 0.8s;
}
.fullscreenmenu .toggle:checked ~ .Mmenu > div > ul li:nth-of-type(4) {
	transition-delay: 1.0s;
}
.fullscreenmenu .toggle:hover + .hamburger {
	box-shadow: inset 0 0 10px rgba(180,180,180 ,0.8));
}
.fullscreenmenu .toggle:checked:hover + .hamburger > span {
	-webkit-transform: rotate(225deg);
	        transform: rotate(225deg);
}
/*ハンバーガー*/
.fullscreenmenu .hamburger {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 6em;
	height: 6em;
	padding: 0.5em 1em;
	cursor: pointer;
	transition: box-shadow 0.4s ease;
	border-radius: 0 0.12em 0.12em 0;

	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}
.fullscreenmenu .hamburger > span {
	position: relative;
	top: 50%;
	display: block;
	width: 100%;
	height: 2px;
	transition: all 0.4s ease;
	background: black;

}
.fullscreenmenu .hamburger > span:before,
.fullscreenmenu .hamburger > span:after {
	position: absolute;
	z-index: 1;
	top: -10px;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	content: '';
	transition: all 0.4s ease;
	background: inherit;
}
.fullscreenmenu .hamburger > span:after {
	top: 10px;
	
}