
@font-face {
  font-family: Gochi;
  src: url('../fonts/GochiHand-Regular.ttf');
}
/*==============================*/
/*==============================*/
/*==============ARCHIVE.EJS=====*/
/*==============================*/
.archive-part {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: SimHei;
  font-size: 2em;
  color: #fff;
  text-shadow: #000 1px 0, #000 -1px 0, #000 0 -1px, #000 0 1px, #000 1px 1px, #000 -1px 1px,
   #000 1px -1px, #000 -1px -1px, #000 1px 1px, #000 -1px 1px, #000 1px -1px, #000 -1px -1px,
    #000 1px 1px, #000 -1px 1px, #000 1px -1px, #000 -1px -1px, 4px 4px 0 #000, 0 4px 0 #000;
}


.card_list{
  margin-top: 20px;
}
.card {
    border: 1px #595959 solid;
    background: white;
    transition: 0.3s;
    width: 70%;
    height: 10em;
    margin:0 auto;
    padding: 10px 16px;


}

.card:hover {
    box-shadow: black 0px 0px 0px 1px inset,
     rgb(255, 255, 255) 8px -8px 0px -1px,
      black 8px -8px;
}

.card *{
  text-decoration: none;

}

.post_date{
  display: block;
  font-size: 10px;
  font-family: SimHei;
  letter-spacing: 3px;
  padding-bottom: 15px;
}
.post_title{
  display: block;
  color: black;
  font-size: 1.2em;
  font-family: SimHei;
  letter-spacing: 3px;
  padding-bottom: 10px;
}
#post_tag{
  background: #F0EEF1;
  color: grey;
  padding: 5px;
  font-size: 10px;
  border-radius: 10%;
}

.card p{
  font-size: 15px;
  /*超出单行的话省略号*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
}


@media only screen and (max-width: 980px){
  .card{
    height: 8em;
  }
  .card p{
    font-size: 12px;
  }
 }


/*翻页按钮*/

.pageChange{
  padding-top: 10px;
  text-align: center;
}
.page-number, .extend{
  display: inline-block;
  margin: 8px 4px;
  text-decoration: none;
  border-radius: 6px;
  width: 50px;
  height: 50px;
  padding: 16px 0;
  box-sizing: border-box;
  color: #333;
  border: 1px solid #333;
  font-weight: bold;
  line-height: 1;
}

.current{
  border: none;
}



/*==============================*/
/*==============================*/
/*==============POST.EJS==*/
/*==============================*/

/*==============ASIDE================*/
.toc{
  text-decoration: none;
  list-style-type:circle;
}

.toc-child {
  margin-left:1em;
  list-style: none;
  text-decoration: none;
}

.toc li a{
  text-decoration: none;
  color: black;
  font-family: SimHei;
  letter-spacing: 1px;
  font-size: 0.8em;
}

@media only screen and (max-width: 980px){

  }
 }

/*==============POST CONTENT================*/
#postPage{
  width: 100%;
  height: 100%;
}

.aside {
    float: left;
    width: 20%;
    height:30em;
    margin: 40px 30px;
    border-right: 1px solid #595959;
    
}

.postContent{
    float: left;
    width: 70%;
    height:28em;
    margin-top: 40px;
    text-align: justify;
}

.article_content{
  overflow:scroll;
  overflow-x: hidden;
  height:100%;
  width:100%;
  border: solid 1px #595959;
  margin: 0 auto;
  font-family: SimHei;
  font-size: 12px;
  color: black;
  padding: 10px;
  letter-spacing: 0.8px;
  line-height: 25px;
  text-align: justify;


}

.post_info{
    text-align: center;
    padding: 20px 20px;
    color: #595959;

}

#postTitle{
    font-size: 1.5em;
    letter-spacing: 5px;
    padding-bottom: 10px;
}

.post_auther_date_tag{
  letter-spacing: 3px;
}
.tag-link-link{
  text-decoration: none;
  color: #595959;
  letter-spacing: 1px;

}

@media only screen and (max-width: 980px){
  .aside{
    border-right:none;
     width: 15%;
     height: 100%;
     font-size: 10px;
  }

  .article_content{
    height: 90%;
  }
  .postContent{
    margin-top: 20px;
    height: 65vh;
    width: 73%;
  }
  }


/*==============POST CONTENT-h1 h2 h3 h4 h5...================*/


h1{
/*border-bottom: dashed 2px black;
padding-top: 20px;*/
position: relative;

  padding: 0.6em;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #595959;
}
h1:after{
content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(-45deg, #595959, #595959 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #595959, #595959 2px, #fff 2px, #fff 4px);
}

h2 {
  position: relative;
  line-height: 1.4;
  padding:0.25em 1em;
  display: inline-block;
  top:0;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #595959;
  font-size: 14px;
}

h2:before, h2:after { 
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
h2:before {
  border-left: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  left: 0;
}
h2:after {
  content: '';
  border-top: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  right: 0;
}

img{
  width: 95%;
}

p{
  font-size: 14px;
}


/*==============POST CONTENT-table...================*/
table *, table *:before, table *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th {
  color: white;
  width: 13%;
  background: #595959;
  padding: 10px;
  border: 1px solid #dddddd;
}
table td {
  text-align: left;
  vertical-align: top;
  padding: 10px;
  border: 1px solid #dddddd;
}
table td:first-child {
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
 table {
    display: block;
    width: 100%;
  }
 table thead {
    display: block;
    float: left;
    overflow-x: scroll;
  }
 table tbody {
    display: block;
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
  }
 table th {
    display: block;
    width: auto;
    border-width: 1px 0px 0px 1px;
    border-color: #dddddd;
    border-style: solid;
  }
  table th:last-child {
    border-bottom: 1px solid #dddddd;
  }
  table tbody tr {
    display: inline-block;
    margin: 0;
  }
  table td {
    display: block;
    border-width: 1px 1px 0px 1px;
    border-color: #dddddd;
    border-style: solid;
  }
  table td:last-child {
    border-bottom: 1px solid #dddddd;
  }
}




/*==============手机黑暗模式================*/

/*文字改色*/
body.dark .toc li a,
body.dark h1,
body.dark h2,
body.dark .article_content,
body.dark .post_info,
body.dark .post_info span,
body.dark .post_info a
{
  color: #F0F0F0;
}

body.dark .article_content a{
  color: #31E4F3;
}
/*边框改色*/
body.dark .aside{
  border-right: 1px solid #F0F0F0;
}

body.dark .article_content{
  border: 1px solid #F0F0F0;
}


/*背景改色（代码块等）*/
  
/*
其它改色*/
body.dark .archive-part{
    text-shadow: #424c50 1px 0, 
    #424c50 -1px 0, 
    #424c50 0 -1px, 
    #424c50 0 1px, 
    #424c50 1px 1px, #424c50 -1px 1px,
   #424c50 1px -1px, #424c50 -1px -1px, #424c50 1px 1px, #424c50 -1px 1px, #424c50 1px -1px, #424c50 -1px -1px,
    #424c50 1px 1px, #424c50 -1px 1px, #424c50 1px -1px, #424c50 -1px -1px, 4px 4px 0 #F0F0F0, 0 4px 0 #424c50;
}

/*==============电脑黑暗模式================*/

@media only screen and (min-width: 981px){
  body.dark .card{
    background-color: black;
    color: white;
  }
  body.dark .post_title{
    color: white;
  }
}


