/*==============================*/
/*==============================*/
/*==============POST_ENTRY.EJS==*/
/*==============================*/
.card_list{
  margin-top: 20px;
}
.card {
    border: 1px #595959 solid;
    background: white;
    transition: 0.3s;
    width: 70%;
    height: 10em;
    margin:0 auto;
    padding: 10px 16px;
}

.card:hover {
    box-shadow: black 0px 0px 0px 1px inset,
     rgb(255, 255, 255) 8px -8px 0px -1px,
      black 8px -8px;
}

.card *{
  text-decoration: none;
  margin-top: 20px;
}

.post_date{
  font-size: 10px;
  font-family: SimHei;
  letter-spacing: 3px;
}
.post_title{

  color: black;
  font-size: 1.2em;
  font-family: SimHei;
  letter-spacing: 3px;
}
#post_tag{
  background: black;
  color: white;
  padding: 5px;
  font-size: 10px;
  border-radius: 10%;
}

.tag-link-link{
  background: black;
  color: white;
}
.card p{
  font-size: 15px;
}


/*==============================*/
/*==============================*/
/*==============POST.EJS==*/
/*==============================*/

/*==============ASIDE================*/
.toc{
  list-style: none;
}
.toc-child {
  margin-left:1em;
  list-style: none;
}



/*==============POST CONTENT================*/

.container{
    width: 100%;
    
    background: black;
}
.aside {
    float: left;
    width: 30%;
    height:36vw;
    
}

.postContent{
    float: left;
    width: 65%;
    height:36vw;
}

.article_content{
  overflow:scroll;
  overflow-x: hidden;
  height:31vw;
  width:100%;
  border: solid 1px black;
  margin: 0 auto;
  font-family: wdfs;
  font-size: 12px;
  color: black;
  padding: 10px;
  letter-spacing: 0.8px;
  line-height: 25px;
}

/*.post_info{
  font-size: 10px;
  color: black;
}
.article-tag{
  color: black;
}
.article_content{
  overflow:scroll;
  overflow-x: hidden;
  height:300px;
  width:800px;
  border: solid 1px black;
  margin: 0 auto;
  font-family: wdfs;
  font-size: 12px;
  color: black;
  padding: 10px;
  letter-spacing: 0.8px;
  line-height: 25px;
}
.post_auther_date_tag{
  display: inline-block;
}
.article_content p{
  text-align: justify;
}
.article_content img{
  display: block;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;

}*/